.teaser {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    color: var(--light-text-color);
    border-radius: 8px;
    
    & * picture img {
        border-radius: 8px;
    }

    & .teaser-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p a {
            color: var(--light-text-color);
        }
    }
}

.teaser.right > div, .teaser.left > div  {
    display: flex;    
    
    & .teaser-img {
        width: 50%;

        & picture img {
            border-radius: 8px;
        }
    }

    & .teaser-content {
        width: 50%;
    }

}

.teaser.left > div  {
    flex-direction: row-reverse;
}

.teaser.right > div  {
    flex-direction: row;
}

